[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=chrome
Comment=chrome
Exec=/home/j/.local/bin/chrome-wait-online
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
