[Desktop Entry]
Type=Application
Name=Terminal with Tabs
Exec=bash /home/j/gbin/linux/linux-workstation/launch_terminal_tabs.sh
Hidden=false
NoDisplay=false
X-XFCE-Autostart=true

